<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <a class="btn btn-outline-primary" href="/lists/<%= grocery.listId %>">Go Back to List</a>

      <h1><%= grocery.item %></h1>

      <p>
        <ul style="list-style-type:none">
          <li>Quantity: <%= grocery.quantity %></li>
          <li>Note: <%= grocery.note %></li>
        </ul>
      </p>
      <a href="/lists/<%= grocery.listId %>/groceries/<%= grocery.id %>/edit" class="btn btn-outline-secondary">Edit</a>
      <form style="display:initial" action="/lists/<%= grocery.listId %>/groceries/<%= grocery.id %>/destroy" method="post">
        <button type="submit" class="btn btn-outline-secondary">Delete</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
