<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1>
        <%= list.title %> &nbsp&nbsp
        <% if (list.private) { %>
           <ion-icon name="finger-print" style= "font-size: 18px;" ></ion-icon>
        <% } else { %>
           <ion-icon name="people" style= "font-size: 18px;"></ion-icon>
        <% } %>
      </h1>

      <p>Description:&nbsp <%= list.description %></p>
      <a href="/lists/<%= list.id %>/edit" class="btn btn-warning">Edit</a>
      <form style="display:initial" action="/lists/<%= list.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>

      <h2>Groceries</h2>
      <br>
        <a href="/lists/<%= list.id %>/groceries/new" class="btn btn-success">New Item</a>
      <br>

       <ul class="list-group">
         <% list.groceries.forEach((grocery) => { %>
           <li class="list-group-item">
             <a href="/lists/<%= list.id %>/groceries/<%= grocery.id %>"> <%= grocery.item %> </a>
           </li>
         <% }) %>
       </ul>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
