<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container  col-md-10 col-md-offset-1 border border-dark rounded p-3 mb-2 text-dark">
      <a class="btn btn-outline-primary" href="/lists/">Go Back to Lists</a>
      <div id="listTitle">

      <a href="/lists/<%= id %>/edit" class="btn btn-secondary">Edit List</a>
      <form style="display:initial" action="/lists/<%= id %>/destroy" method="post">
        <button type="submit" class="btn btn-secondary">Delete List</button>
      </form>


      <br>
      <br>

      <h2>Groceries</h2>
      <br>
        <a href="/lists/<%= id %>/groceries/new" class="btn btn-primary">New Item</a>
      <br>

       <ul id="groceries" class="list-group col-md-12 col-md-offset-1 border border-dark rounded p-3 mb-2 text-dark">

       </ul>

       <form style="display:initial" action="/lists/<%= id %>/destroy/purchased" method="post">
          <button type="submit" class="btn btn-secondary">Delete Checked Items</button>
        </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

    <script type="text/javascript">




      const groceriesUl = document.getElementById("groceries");

      function groceryHTML(grocery){
        const iconName = grocery.purchased ? "checkbox" : "square-outline";
        return `
            <li class="list-group-item">
             <a href="/lists/${grocery.listId}/groceries/${grocery.id}/purchased" class="btn btn-outline-secondary">

                    <ion-icon name="${iconName}"></ion-icon>

             </a>
             <a href="/lists/<%= id %>/groceries/${grocery.id}">
               ${grocery.quantity}
               ${grocery.item} </a>
             <a href="/lists/${grocery.listId}/groceries/${grocery.id}/edit" class="btn btn-secondary">Edit</a>
             <form style="display:initial" action="/lists/${grocery.listId }/groceries/${grocery.id}/destroy" method="post">
               <button type="submit" class="btn btn-secondary">Delete</button>
             </form>
            </li>`
      }
      function updateGroceries() {
        fetch('https://localhost:3000/api/lists/<%= id %>')
         .then(
          res => res.json()
        ).then(
          data => {
            console.log(data)
            let html = "";
            data.list.groceries.sort((a,b) => a.purchased - b.purchased).forEach(grocery => {
              html += groceryHTML(grocery);
            });
            console.log(data.list)
            groceriesUl.innerHTML = html;
            console.log(html);
          }
        ).catch(console.log);;
      }
      updateGroceries();
      setInterval(updateGroceries, 3000);

    </script>

  </body>
</html>
